h2, h3 {
		text-align: center;
		font-family: impact, fantasy;
	    font-size: 18pt;
	    margin-top: 5px;
	}

body {
    margin: 0 auto;
    max-width: 550px;
	}

h2 {
		background-color: #782167;
		color: white;
	}

h3 {
		font-size: 155%;
	}

p {
	margin: 0px;
}

.one {
		background-color: pink;
	}

.container {
		display: -webkit-flex;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		}

img { 	width: 220px;
		margin: 5px;
		text-align: center;
	}

body {
	font-size: 70%;
}

figcaption {
	max-width: 205px;
	text-align: center;
}

@media screen and (max-width: 450px) {
	body {
    margin: 0 auto;
    max-width: 500px;
	}

	img {
		width: 95%;
		margin: 5px;

	}

	h2 {
		padding: 11px;
	}

	h3 {
		text-align: center;
		font-family: impact, fantasy;
	    font-size: 14pt;
	    margin-top: 5px;
	    margin-bottom: 3px;
	}

	.one {
		background-color: pink;
	}

	hr {
		margin: 2px;
	}

	.container {
		display: -webkit-flex;
		display: flex;
		-webkit-flex-direction: column;
		flex-direction: column;
		-webkit-justify-content: center;
		justify-content: center;
		-webkit-align-items: center;
		align-items: center;
  }

  figcaption {
  	max-width: 400px;
  	text-align: center;
  }

  body {
  	font-size: medium;
  }

  figure {
  	text-align: center;
  	justify-content: center;
  }
}

footer {
	text-align: center;
}

.dot {
	display: inline-block;
	border-radius: 30%;
	padding: 7px;
}

footer . a:hover {
	text-decoration: none;
}

.d-one {
	background-color: black;
}

.d-two {
	background-color: yellow;
}

.d-three {
	background-color: blue;
}


.d-one, .d-two, .d-three {
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@media screen and (max-width: 450px) {
	.dot {
	display: inline-block;
	border-radius: 30%;
	padding: 10px;
	}

	img {
		max-width: 400px;
	}
}

a:hover {
	text-decoration: none;
}
